* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #203040;
  font-family: "Noto Sans KR", sans-serif;
  align-items: center;
}
#titile-top {
  text-align: center;
  background-color: #e7f76d;
}
#barra-link {
  background-color: #f7bc05;
  text-align: center;
  text-decoration: none;
}
nav ul li {
  display: inline-block;
  width: 150px;
  padding: 10px;
  text-decoration: none;
}
li:hover {
  background-color: #e7f76d;
}
a {
  text-decoration: none;
}
#content-mid {
  display: block;
  max-width: 900px;
  justify-content: center;
  text-align: justify;
}
#content-mid h2,
h3,
p,
a {
  margin-left: 15px;
}
.photo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
aside {
  display: flex;
  float: right;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 25px;
}

#customers td,
#customers th {
  border: 1px solid #d1d6a9;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #eaf2bb;
}

#customers tr:hover {
  background-color: #d1d6a9;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7bc05;
  color: white;
}
#ref-bio {
  background-color: #f7bc05;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

#ref-bio a {
  display: flex;
}
#ref-bio a:hover {
  background-color: #e7f76d;
}
footer {
  display: block;
  margin-top: 300px;
}
p {
  background-color: #eaecd7;
}

/* estilo da tabela tendo como referencia o link da w3shools https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
